.root {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 115px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
  }
}

.input:first-child {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.input:last-child {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
